{% extends "baseequipo.html" %}

{% block contenido %}

 <div div class="container" >
      
        <div  class="col-md-6 col-md-offset-3">
             <a href="{% url 'departamentolista'  %}" ><span  class="glyphicon glyphicon-list"></a>
        
            {% if idv %}
             <h4 text align="center" style= "color: green"><b>Actualizar Departamentos</h4>
            <form action="{% url 'actualizar_departamento' idv %}" method="post">
                {% csrf_token %}
                <p ><strong style= "color: #537A51 ">Departamento:</strong>{{form.departamento}}</p> 
                <p ><strong style= "color: #537A51 ">Oficina:</strong>{{form.oficina}}</p>

                <input type="submit" value="Guardar" class="btn btn-primary">
            {% else %}
            <h4 text align="center" style= "color: green"><b>Resgitrar Departamentos</h4>
            <form action="{% url 'guardar_departamento' %}" method="post">
           
                {% csrf_token %}
                <p ><strong style= "color: #537A51 ">Departamento:</strong>{{form.departamento}}</p> 
                <p ><strong style= "color: #537A51 "> Oficina:</strong>  
                    <a href="{% url 'oficina'  %}" style="font-size: 18px" ><span  class="glyphicon glyphicon-plus-sign"></a>
                    {{form.oficina}}</p>

                <input type="submit" value="Guardar" class="btn btn-primary">
                <br>
 {% endif %}
                
        </form>
        </div>
        </div>
	
{% endblock contenido %}