{% extends "baseprotocololista.html" %}

{% block contenido %}

<div class="container" align="right">
      <div class="rows">
        <div class="col-md-12 search">
          <form method="get" class="busca">
            <div id="custom-search-input">
              <div class="col-md-12 input-group">
                <input type="text" size="50"  placeholder="Buscar por Luces encendidas A y B encendidas, Preferencia " name="buscar">

                <span class="input-group-list">
                  <button type="submit" class="boton btn-success">BUSCAR</button>
                </span>
                
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  <div class="col-md-12 " class="container" class="bg-info clearfix">
          <table  class="table table-hover  table-bordered" >
              <thead>
                  <tr style="background-color:#EEF4FC   ">
                    <h4 text align="center" style= "color: green"><b>Lista Detalle Ats </h4>
                    <th>Ats</th>
                    <th>Protocolo</th>
                    <th>A y B Encendidas</th>
                    <th>Preferencia</th>
                    <th>Amperios</th>
                    <th>Accion</th>
                  </tr>
              </thead>
              
              {% if detalleats.id == idv %}

              {% endif %}
              <tbody>
                  {% for detalleats in detalleatss %}
                  <tr {% if detalleats.id is idv  %}class="info"{% endif %}>
                    <td>{{ detalleats.ats }}</td>
                    <td>{{ detalleats.protocolo }}</td>
                    <td>{{ detalleats.lucesencendidasayb }}</td>
                    <td>{{ detalleats.preferencia }}</td>
                    <td>{{ detalleats.amps }}</td>
                  
                      
                       <!--Para eliminar -->
                      <td>

                        

                        <a onclick="if (!confirm('Esta Seguro que desea eliminar')) return false;" href="{% url 'eliminar_detalleats' detalleats.id %}" >
                        <span class="glyphicon glyphicon-remove"></span></a>

                        <a href="{% url 'editar_detalleats' detalleats.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  
	
{% endblock contenido %}