{% extends "baseprotocolo.html" %}

{% block contenido %}

 <div div class="container" >
      
        <div  class="col-md-6 col-md-offset-3">
          <a href="{% url 'detalleairelista'  %}" ><span  class="glyphicon glyphicon-list"></a>
            {% if idv %}
            <h4 text align="center" style= "color: green"><b>Actualizar Detalle Aire</h4>
            <form action="{% url 'actualizar_detalleaire' idv %}" method="post">
                  {% csrf_token %}
                   <p ><strong style= "color: #537A51 ">Aire:</strong>{{form.aire}}</p> 
                <p ><strong style= "color: #537A51 ">Protocolo:</strong>{{form.protocolo}}</p>
                <p ><strong style= "color: #537A51 ">Alarma en Aire:</strong>{{form.alarmaaire}}</p> 
                <p ><strong style= "color: #537A51 ">Aire Encendido:</strong><br>{{form.aireencendido}}</p>
                <p ><strong style= "color: #537A51 ">Hora Aire:</strong>{{form.horaaire}}</p>
                <p ><strong style= "color: #537A51 ">Temperatura Aire:</strong>{{form.temperaturaaire}}</p> 
                 <p ><strong style= "color: #537A51 ">Humedad Aire:</strong>{{form.humedadaire}}</p>
                    <input type="submit" value="Guardar" class="btn btn-primary"> 
            {% else %}
             <h4 text align="center" style= "color: green"><b>Resgitrar Detalle Aire</h4>
            <form action="{% url 'guardar_detalleaire' %}" method="post">
          
                {% csrf_token %}

                <p ><strong style= "color: #537A51 ">Aire:</strong>
                  <a href="{% url 'airedatacenter'  %}" style="font-size: 18px" ><span  class="glyphicon glyphicon-plus-sign"></a>{{form.aire}}</p> 
                <p ><strong style= "color: #537A51 ">Protocolo:</strong>
                  <a href="{% url 'protocolo'  %}" style="font-size: 18px" ><span  class="glyphicon glyphicon-plus-sign"></a>{{form.protocolo}}</p>
                <p ><strong style= "color: #537A51 ">Alarma en Aire:</strong>{{form.alarmaaire}}</p> 
              <p ><strong style= "color: #537A51 "> Aire Encendido:</strong> <br>{{form.aireencendido}}</p>
                <p ><strong style= "color: #537A51 ">Hora Aire:</strong>{{form.horaaire}}</p>
                <p ><strong style= "color: #537A51 ">Temperatura Aire:</strong>{{form.temperaturaaire}}</p> 
                 <p ><strong style= "color: #537A51 ">Humedad Aire:</strong>{{form.humedadaire}}</p>
                    <input type="submit" value="Guardar" class="btn btn-primary">   
           
                  {% endif %}
                
                
            </form>
        </div>
        </div>


	
{% endblock contenido %}