{% extends "baseequipo.html" %}

{% block contenido %}

 <div div class="container" >
      
        <div  class="col-md-6 col-md-offset-3">
           <a href="{% url 'estadolista'  %}" ><span  class="glyphicon glyphicon-list"></a>
            {% if idv %}
                     <h4 text align="center" style= "color: green"><b>Actualizar Estados de Equipos</h4>

            <form action="{% url 'actualizar_estado' idv %}" method="post">
              {% csrf_token %}

              <p ><strong style= "color: #537A51 ">Estado del Equipo:</strong>{{form.estado}}</p> 
                <input type="submit" value="Guardar" class="btn btn-primary">
  
            {% else %}
               <h4 text align="center" style= "color: green"><b>Resgitrar Estados de Equipos</h4>
            <form action="{% url 'guardar_estado' %}" method="post">
 
                {% csrf_token %}

              <p ><strong style= "color: #537A51 ">Estado del Equipo:</strong>{{form.estado}}</p> 
                <input type="submit" value="Guardar" class="btn btn-primary">
  
                          {% endif %} 
                
            </form>
        </div>
        </div>

  
	
{% endblock contenido %}