{% extends "basemantenimiento.html" %}

{% block contenido %}

 <div div class="container" >
      
        <div  class="col-md-6 col-md-offset-3">
           <a href="{% url 'mantenimientolista'  %}" ><span  class="glyphicon glyphicon-list"></a>
       
            {% if idv %}
              <h4 text align="center" style= "color: green"><b>Actualizar Mantenimiento</h4>
            <form action="{% url 'actualizar_mantenimientopreventivo' idv %}" method="post">
                {% csrf_token %}
                      <p ><strong style= "color: #537A51 ">Fecha del Mantenimiento:</strong>{{form.fechamantenimiento}}</p> 
               <p ><strong style= "color: #537A51 ">Realizado:</strong>{{form.realizado}}</p> 
               <p ><strong style= "color: #537A51 ">Descripción:</strong>{{form.descripcion}}</p> 
               <p  ><strong style= "color: #537A51"> Oficina:</strong>{{form.oficina}}</p> 
               <p ><strong style= "color: #537A51 ">Usuario:</strong>{{form.usuario}}</p> 


                <input type="submit" value="Guardar" class="btn btn-primary">
            {% else %}
             <h4 text align="center" style= "color: green"><b>Resgitrar Mantenimiento</h4>
            <form action="{% url 'guardar_mantenimientopreventivo' %}" method="post">
       
                {% csrf_token %}

               <p ><strong style= "color: #537A51 ">Fecha del Mantenimiento:</strong>{{form.fechamantenimiento}}</p> 
               <p ><strong style= "color: #537A51 ">Realizado:</strong>{{form.realizado}}</p> 
               <p ><strong style= "color: #537A51 ">Descripción:</strong>{{form.descripcion}}</p> 
               <p  ><strong style= "color: #537A51"> Oficina:</strong>
                <a href="{% url 'oficina'  %}" style="font-size: 18px" ><span  class="glyphicon glyphicon-plus-sign"></a>{{form.oficina}}</p> 
               <p ><strong style= "color: #537A51 ">Usuario:</strong>
                <a href="{% url 'usuario'  %}" style="font-size: 18px" ><span  class="glyphicon glyphicon-plus-sign"></a>{{form.usuario}}</p> 


                <input type="submit" value="Guardar" class="btn btn-primary">
     {% endif %}
                  
                
                
            </form>
        </div>
</div>
    
        
   
  
	
{% endblock contenido %}