{% extends "basemantenimientolista.html" %}

{% block contenido %}




    <div class="container"align="right">
      <div class="rows">
        <div class="col-md-12 search">
          <form method="get" class="busca">
            <div id="custom-search-input">
              <div class="col-md-6 input-group">
                <input type="text" size="50"  placeholder="Buscar por Fecha Mantenimiento y Oficina" name="buscar">
                <span class="input-group-list">
                  <button type="submit" class="boton btn-success">BUSCAR</button>
                </span>
                
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
        
   <div class="col-md-12 " class="container" class="bg-info clearfix" class="col-md-12 col-md-offset-3">
          <table  class="table table-hover  table-bordered" >
              <thead>
                  <tr style="background-color:#EEF4FC   ">



                    <h4 text align="center" style= "color: green"><b>Lista de Mantenimientos</h4>
                    <th>Fecha Mantenimiento</th>
                    <th>Realizado</th>
                    <th>Descripción</th>
                    <th>Oficina</th>
                    <th>Usuario</th>
                    <th>Accion</th>
                  </tr>
              </thead>

              
              {% if mantenimientopreventivo.id == idv %}

              {% endif %}
              <tbody>
                  {% for  mantenimientopreventivo in mantenimientopreventivos %}
                  <tr {% if mantenimientopreventivo.id is idv  %}class="info"{% endif %}>
                    <td>{{ mantenimientopreventivo.fechamantenimiento }}</td>
                    <td>{{ mantenimientopreventivo.realizado }}</td>
                    <td>{{ mantenimientopreventivo.descripcion}}</td>
                    <td>{{ mantenimientopreventivo.oficina }}</td>
                    <td>{{ mantenimientopreventivo.usuario }}</td>
                       <!--Para eliminar -->
                      <td>

                        

                        <a onclick="if (!confirm('Esta Seguro que desea eliminar')) return false;" href="{% url 'eliminar_mantenimientopreventivo' mantenimientopreventivo.id %}" ><span class="glyphicon glyphicon-remove"></span></a>

                        <a href="{% url 'editar_mantenimientopreventivo' mantenimientopreventivo.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
 

                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  
	
{% endblock contenido %}